<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Dashboard</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <section class="section">
      <div class="container">
        <h1 class="title is-1 has-text-light has-text-centered mb-6">
          Welcome to your Triathlon Dashboard
        </h1>

        <% if (userEvents && userEvents.length > 0) { %>
        <div class="columns is-multiline">
          <% userEvents.forEach(event => { %>
          <div class="column is-6">
            <div class="card has-background-white-ter">
              <header class="card-header">
                <p class="card-header-title has-text-black is-size-4">
                  Event: <%= event.name %>
                </p>
              </header>
              <div class="card-content">
                <div class="content has-text-centered has-text-black has-text-weight-bold">
                  <p class="is-size-6 mb-3">
                    Event Date: <%= event.date.toDateString() %>
                  </p>

                  <% if (raceDay(event.date)) { %>
                  <p class="has-text-success is-size-4 has-text-weight-bold">
                    RACE DAY 🏊🚴‍♀️🏃
                  </p>
                  <% } else { %> <% const { weeks, days, hours, minutes, seconds
                  } = countDown(event.date); %>
                  <p class="is-size-5 mb-4">Countdown:</p>

                  <div
                    class="is-flex is-justify-content-center is-align-items-center is-flex-wrap-wrap"
                  >
                    <div
                      class="box has-background-whiter-ter has-text-centered is-flex is-flex-direction-column is-align-items-center mx-2 mb-3 px-3 py-3"
                    >
                      <p class="title is-2 has-text-primary mb-0">
                        <%= weeks %>
                      </p>
                      <p class="is-size-7 mt-1 has-text-weight-semibold">
                        Weeks
                      </p>
                    </div>
                    <div
                      class="box has-background-whiter-ter has-text-centered is-flex is-flex-direction-column is-align-items-center mx-2 mb-3 px-3 py-3"
                    >
                      <p class="title is-2 has-text-link mb-0"><%= days %></p>
                      <p class="is-size-7 mt-1 has-text-weight-semibold">
                        Days
                      </p>
                    </div>
                    <div
                      class="box has-background-whiter-ter has-text-centered is-flex is-flex-direction-column is-align-items-center mx-2 mb-3 px-3 py-3"
                    >
                      <p class="title is-2 has-text-warning mb-0">
                        <%= hours %>
                      </p>
                      <p class="is-size-7 mt-1 has-text-weight-semibold">
                        Hours
                      </p>
                    </div>
                    <div
                      class="box has-background-whiter-ter has-text-centered is-flex is-flex-direction-column is-align-items-center mx-2 mb-3 px-3 py-3"
                    >
                      <p class="title is-2 has-text-danger mb-0">
                        <%= minutes %>
                      </p>
                      <p class="is-size-7 mt-1 has-text-weight-semibold">
                        Minutes
                      </p>
                    </div>
                    <div
                      class="box has-background-whiter-ter has-text-centered is-flex is-flex-direction-column is-align-items-center mx-2 mb-3 px-3 py-3"
                    >
                      <p class="title is-2 has-text-success mb-0">
                        <%= seconds %>
                      </p>
                      <p class="is-size-7 mt-1 has-text-weight-semibold">
                        Seconds
                      </p>
                    </div>
                  </div>
                  <% } %>

                  <div class="buttons is-centered mt-4">
                    <a
                      href="/dashboard/event/<%= event._id %>"
                      class="button is-link"
                      >Edit</a
                    >
                    <form
                      action="/dashboard/event/<%= event._id %>?_method=DELETE"
                      method="POST"
                    >
                      <button type="submit" class="button is-danger has-text-light">
                        Delete
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>

        <div class="has-text-centered mt-6">
          <a
            href="/dashboard/event/new"
            class="button is-primary is-light is-medium"
            >+ Add Event</a
          >
        </div>

        <% } else { %>
        <div class="has-text-centered">
          <h2 class="subtitle has-text-light">No events found</h2>
          <a
            href="/dashboard/event/new"
            class="button is-primary is-light is-medium"
            >+ Add Event</a
          >
        </div>
        <% } %>
      </div>

      <section class="section">
        <div class="container">
          <h2 class="title is-2 has-text-light has-text-centered mb-6">
            Performance Anaylsis
          </h2>
        </div>
        <!-- Pie Chart -->
        <div class="section">
          <div class="container">
            <div class="card has-background-white-ter">
              <header class="card-header">
                <p
                  class="card-header-title has-text-black is-justify-content-center"
                >
                  Time Spent on Each Activity
                </p>
              </header>
              <div class="card-content">
                <div style="height: 300px">
                  <canvas id="pieChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- line graphs -->
        <!-- Running Line Graph -->
        <div class="section">
          <div class="container">
            <div class="card has-background-white-ter">
              <header class="card-header">
                <p
                  class="card-header-title has-text-black is-justify-content-center"
                >
                  Running Progress Over Time
                </p>
              </header>
              <div class="card-content">
                <div style="height: 300px">
                  <canvas id="runnerChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Cycling Line Graph -->
        <div class="section">
          <div class="container">
            <div class="card has-background-white-ter">
              <header class="card-header">
                <p
                  class="card-header-title has-text-black is-justify-content-center"
                >
                  Cycling Progress Over Time
                </p>
              </header>
              <div class="card-content">
                <div style="height: 300px">
                  <canvas id="cycleChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Swimming Line Graph -->
        <div class="section">
          <div class="container">
            <div class="card has-background-white-ter">
              <header class="card-header">
                <p
                  class="card-header-title has-text-black is-justify-content-center"
                >
                  Swimming Progress Over Time
                </p>
              </header>
              <div class="card-content">
                <div style="height: 300px">
                  <canvas id="swimChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script>
        //Pie Chart
        const yValuesPie = <%- JSON.stringify(yValuesPie) %>;
        const barColors = <%- JSON.stringify(barColors) %>;

        new Chart("pieChart", {
          type: "doughnut",
          data: {
            labels: ["Run🏃","Cycle 🚴‍♀️","Swim 🏊"],
            datasets: [{
              backgroundColor: barColors,
              data: yValuesPie
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
              position: 'bottom',
              labels: {
                fontColor: '#363636',
                fontSize: 14
              }
            },
          },
        });
      </script>

      <script>
        //Running Chart
        const runLabels = <%- JSON.stringify(runDates) %>;       // x-axis (dates)
        const runDistances = <%- JSON.stringify(runDistances) %>; // y-axis 1
        const runDurations = <%- JSON.stringify(runDurations) %>; // y-axis 2
        const runPaces = <%- JSON.stringify(runPaces) %>;// y-axis 3

        // console.log("Labels:", runLabels);
        // console.log("Distances:", runDistances);
        // console.log("Durations:", runDurations);

        new Chart("runnerChart", {
          type: 'line',
          data: {
            labels: runLabels,
            datasets: [
              {
                label: 'Distance (km)',
                data: runDistances,
                borderColor: '#3273dc',
                fill: false,
                tension: 0.3
              },
              // {
              //   label: 'Duration (min)',
              //   data: runDurations,
              //   borderColor: '#48c774', // green
              //   fill: false,
              //   tension: 0.3
              // },
              {
                label: 'Pace (min/km)',
                data: runPaces,
                borderColor: '#ff3860', ///red
                borderDash: [5, 5], // dashed line
                fill: false,
                tension: 0.3
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              x: {
                title: {
                  display: true,
                  text: 'Date'
                }
              },
              y: {
                beginAtZero: true,
                title: {
                  display: true,
                  text: 'Value'
                }
              }
            },
          }
        });
      </script>
      <script>
        //Cycling Chart
        const cycleLabels = <%- JSON.stringify(cycleDates) %>;       // x-axis (dates)
        const cycleDistances = <%- JSON.stringify(cycleDistances) %>; // y-axis 1
        const cycleDurations = <%- JSON.stringify(cycleDurations) %>; // y-axis 2
        const cyclePaces = <%- JSON.stringify(cyclePaces) %>;// y-axis 3

        // console.log("Labels:", cycleLabels);
        // console.log("Distances:", cycleDistances);
        // console.log("Durations:", cycleDurations);

        new Chart("cycleChart", {
          type: 'line',
          data: {
            labels: cycleLabels,
            datasets: [
              {
                label: 'Distance (km)',
                data: cycleDistances,
                borderColor: '#3273dc',
                fill: false,
                tension: 0.3
              },
              // {
              //   label: 'Duration (min)',
              //   data: cycleDurations,
              //   borderColor: '#48c774', // green
              //   fill: false,
              //   tension: 0.3
              // },
              {
                label: 'Pace (km/h)',
                data: cyclePaces,
                borderColor: '#ff3860', ///red
                borderDash: [5, 5], // dashed line
                fill: false,
                tension: 0.3
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              x: {
                title: {
                  display: true,
                  text: 'Date'
                }
              },
              y: {
                beginAtZero: true,
                title: {
                  display: true,
                  text: 'Value'
                }
              }
            },
          }
        });
      </script>
      <script>
         //Swimming Chart
        const swimLabels = <%- JSON.stringify(swimDates) %>;       // x-axis (dates)
        const swimDistances = <%- JSON.stringify(swimDistances) %>; // y-axis 1
        const swimDurations = <%- JSON.stringify(swimDurations) %>; // y-axis 2
        const swimPaces = <%- JSON.stringify(swimPaces) %>;// y-axis 3

        // console.log("Labels:", swimLabels);
        // console.log("Distances:", swimDistances);
        // console.log("Durations:", swimDurations);

        new Chart("swimChart", {
          type: 'line',
          data: {
            labels: swimLabels,
            datasets: [
              {
                label: 'Distance (km)',
                data: swimDistances,
                borderColor: '#3273dc',
                fill: false,
                tension: 0.3
              },
              // {
              //   label: 'Duration (min)',
              //   data: swimDurations,
              //   borderColor: '#48c774', // green
              //   fill: false,
              //   tension: 0.3
              // },
              {
                label: 'Pace (min/100m)',
                data: swimPaces,
                borderColor: '#ff3860', ///red
                borderDash: [5, 5], // dashed line
                fill: false,
                tension: 0.3
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              x: {
                title: {
                  display: true,
                  text: 'Date'
                }
              },
              y: {
                beginAtZero: true,
                title: {
                  display: true,
                  text: 'Value'
                }
              }
            },
          }
        });
      </script>
    </section>
  </body>
</html>
